{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "debug": false,
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions",
            "not ie <= 8"
          ]
        },
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory":"es",
        "style": "css"
      }
    ]
  ],
  "sourceMaps": true
}
// @babel/preset-env 根据配置的目标环境自动采用需要的babel插件。
// 支持每个浏览器最近的两个版本和IE大于8的版本所需的polyfill和代码转译。
